<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KotNotes - Main page</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="text-center text-bg-dark">
<div th:insert="~{fragments/header :: header}"></div>
<!--------------------------------------------------------------------------------------------------------------------->
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">KotNotes</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Just because I can write this, and may be it will be useful.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Notes</button>
                <button type="button" class="btn btn-outline-light btn-lg px-4">Users</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>