<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KotNotes - Users</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="text-center text-bg-dark">
<!--------------------------------------------------------------------------------------------------------------------->
<div th:insert="~{fragments/header :: header}"></div>
<div>
    <h3>Add user</h3>
    <form action='/action/user/add' method='post'>
        <input type='text' name='userLogin' placeholder='login'/>
        <input type='text' name='userPassword' placeholder='password'/>
        <input type='text' name='userAccessLevel' placeholder='access'/>
        <input type='submit' value='Add user'/>
    </form>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<table class="table table-dark table-borderless">
    <thead>
    <tr>
        <th scope="col">Caption</th>
        <th scope="col">Show</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userAccounts}">
        <th scope="row" th:text="${user.id}">id</th>
        <td th:text="${user.login}">login</td>
        <td th:text="${user.accessLevel}">accessLevel</td>
        <td>
            <form action="/action/user/delete" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <input type="submit" name="Delete" class="btn btn-danger" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<!--------------------------------------------------------------------------------------------------------------------->
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>