<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KotNotes - Users</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="text-center text-bg-dark">
<div th:insert="~{fragments/header :: header}"></div>
<!--------------------------------------------------------------------------------------------------------------------->
<div class="container">
    <h3 class="row">Add user</h3>
    <form action='/api/user/add' method='post' class="row g-3">
        <div class="form-floating col">
            <input name='userLogin' type="text" class="form-control" id="floatingInput" placeholder="login">
            <label for="floatingInput">Login</label>
        </div>
        <div class="form-floating col">
            <input name='userPassword' type="password" class="form-control" id="floatingPassword" placeholder="password">
            <label for="floatingPassword">Password</label>
        </div>
        <select name='userAccessLevel' class="form-select col" id="exampleSelect">
            <option value="1" selected="">User</option>
            <option value="9">Admin</option>
        </select>
        <input type='submit' value='Add user' class="btn btn-primary col form-floating"/>

    </form>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<table class="table table-dark table-borderless">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Login</th>
        <th scope="col">Access level</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userAccounts}">
        <th scope="row" th:text="${user.id}">id</th>
        <td th:text="${user.login}">login</td>
        <td th:text="${user.accessLevel}">accessLevel</td>
        <td>
            <form action="/api/user/delete" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <input type="submit" name="Delete" class="btn btn-danger" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<!--------------------------------------------------------------------------------------------------------------------->
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>